# NPM cache
fe/.npm_cache
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
fe/node_modules
fe/.pnp
fe/.pnp.*
fe/.yarn/*
fe/!.yarn/patches
fe/!.yarn/plugins
fe/!.yarn/releases
fe/!.yarn/versions

# testing
fe/coverage

# next.js
fe/.next/
fe/out/

# production
fe/build

# misc
fe/.DS_Store
fe/*.pem

# debug
fe/npm-debug.log*
fe/yarn-debug.log*
fe/yarn-error.log*
fe/.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*
!.env.example

# vercel
fe/.vercel

# typescript
fe/*.tsbuildinfo
fe/next-env.d.ts
